@mixin search-btn {
    &:hover{
        transition-duration: .1s;
        transform: scale(1.12);
        opacity: 0.9;
    } 
    &:focus {
        border-color: $color-primary;
    }
}

@mixin img {
    &:hover{
        transition-duration: .1s;
        transform: scale(.97);
        opacity: 0.8;
    } 
}
