// ====== variables ====== //

// ------ color ------ // 

$color-primary: #f9b233;
$color-shadow: #777;
$color-background: #e7e6e5;
$color-box: #bbcfd9;
$complement: complement($color-background);


// ------ sizes ------ // 

$bradius: 10px;

// ------ typography ------ // 

$basefont: 'David Libre', Roboto;
$baseweight: 300;
$basewidth: 100%;

// ------ media ------ // 

$breakpoint-small: 765px;
$breakpoint-medium: 766px;
$breakpoint-large: 1015px;