/* ============================================= */
/*              Images                           */
/* ============================================= */

.avatar {
    max-width: 10%;
    max-height: 10%;
    @include img;
  }

img {
  border-radius: 7px;
}