/* ============================================= */
/*              Navigation                       */
/* ============================================= */

header {
    display: flex;
    align-items: center;
}

#search {
    align-self: flex-start;
    flex: 1;
    margin-top: 45px;
    margin-left: 350px;
    padding: 10px;
    border-radius: 15px;
    @include search-btn;
}

input[type=search] {
    background: $color-box;
    border: 5px;
    border-color: complement(#199ad8);
    box-shadow: -3px $color-shadow;
}

.avatar {
    margin-left: auto;
    margin-right: 300px;
}
