/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $basefont;
    // color: $color-text;
    box-sizing: border-box;
    background-color: $color-background;
  }

  html{
    position:relative; 
    min-height: 100%;
  }
  
  p {
    line-height: 1.45em;
  }
  
  footer {
    display: flex;
    bottom: 5px;
    top: 10px;
    left: 15px;
    right: 0;
  }

  .copy {
    margin-left: auto;
    margin-right: 15px;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
