/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'David Libre', Roboto;
    // color: $color-text;
    box-sizing: border-box;
    background-color: #B4FAD2;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
